div,
span {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  /* border: 2px dotted black; */
  margin-bottom: 20px;
  /* span 태그에 크기 반영이 안된 이유는 인라인이기 때문이다. span tag는 자체 크기를 가질수가 없다. */
}

/* div 태그는 블럭요소이다. O , div 태그는 수평으로 배치된다 O*/
div {
  background-color: red;
  display: inline-block;
}

/* span 태그는 블럭요소이다 X */
/* 인라인 블럭으로 지정된 element는 기본적으로 인라인 element처럼 전 후 줄바꿈이 없이 한 줄에 다른 element들과 나란히 배치된다.  */
/* 인라인변수로 지정된 변수는 인라인 엘리멘트처럼 전후 줄바꿈 없이 한줄에 다른 엘리멘트들과 나란히 배치된다. 
  하지만 인라인엘리멘트에서 불가능하던 width와 heigt 속성 지정 및 margin(외부여백),padding(내부여백)속성에 상하간격*/
span {
  background-color: blue;
  display: block;
}
